  body{
    margin: 0;
    padding: 0;
  }
  .common{
    font-family: Arial;
    font-size: 14px;
  }
  a{
    color: #666;
    font-size: 12px;
    text-decoration: none;
  }
  .swiper-container{
    /*padding-top: 10%;*/
    --swiper-pagination-color: deeppink;/* 改变分页器颜色 */
  }

